body {
    margin: 0px;
    padding: 2% 0% 2% 6%;
    background-color: rgba(0, 0, 0, 0.03);
    font-size: 1.6em;
    font-family: "Ubuntu Mono", "Georgia", "Courier";
    line-height: 1.6em;
}

.active {
    background: #268bd2;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    padding-left: 0.5em;
}

#statement_block {
	margin-right: 50%;
}

.button {
    display: inline-block;
    margin-top: 2em;
    background: #6633FF;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    font-family: Georgia;
    border-radius: 10px;
    padding: 0.2em 1em 0.2em 1em;
    box-shadow: 1px 1px 1px 1px #aaaaaa;
}
