<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{=URL('static', 'styles/wave-page.css')}}" />
    <script src={{=URL('static','scripts/jquery.js')}}></script>
    <script src={{=URL('static','scripts/calendar.js')}}></script>
    <script src={{=URL('static','scripts/web2py.js')}}></script>
  </head>
  <body>
    <div class='wrapper'>
    <div class="page_header">
      <page-title>{{=response.title}}</page-title>
      <page-subtitle>{{=response.subtitle or ''}}</page-subtitle>
      {{if response.status_msg:}}
        <page-status>{{=response.status_msg}}</page-status>
      {{pass}}
    </div>
    <div class="page_content">{{include}}</div>
    {{include 'footer.html'}}
    </wrapper>
  </body>
</html>
